.container-LandingWrap
    nav
      Ul
        li
          a(href="#") Inicio
        li
          a(href="#") Acerca de Nosotros
        li
          a(href="#") Blog
        li
          a(href="#") Contacto
    section
      .container-Corp
      img(src="#", alt="Logo Creative CODE")
      p
      h2 Posicionamos en la WEB sus mejores ideas.
      Text Impulsamos su marca en el mundo digital dándole visibilidad a su negocio para ganar nuevos clientes, incrementar sus ventas e ingresos.
    .Container-Promo
    .Container-Action 
