.landingWrap{
  // background-color: $color;
  background-image: url('./images/fondo320.jpg');
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;
  &-infoCorp{
    // background-color: gold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .logo{
      background-image: url('./images/logoCompleto.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-left: -5rem;
      height: 50%;
      width: 50%;
    }
    .slogan{
      margin-left: 1rem;
      border-left: 1.5px solid $primario;
      h2, p{
        margin-left: 1rem;
      }
      h2{
        font-size: 1.3rem
      }
      p{
        font-size: .8rem;
        line-height: 1rem;
      }
    }
  }
  &-promo{
    // background-color: fuchsia;
    margin-top: 1rem;
    // background-image: url('./images/PromoResp.svg');
    // background-size: contain;
    // background-repeat: no-repeat;
    // min-height: 10%;
    // max-width: 90%;
  }
  &-action{
    // background-color: dodgerblue;
    @include centerFlex;
    flex-direction: column;
    .icon{
      font-size: 3rem;
      z-index: 11;
    }
    .intro{
      font-size: .8rem;
      text-align: center;
      p{
        line-height: 1rem;
      }

    }
    .actButton{
      margin-top: 1rem;
      width: 9rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: $primario;
      a{
        color: $color;
      }
    }
  
  }
}
@include mQ(xlS){
}
@include mQ(largeS){
}
@include mQ(wideS){
}
@include mQ(mediumS){
}
@include mQ(smallS){
}
@include mQ(xsS){
}


